<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="titrePost">Titre de l'article</label>
                <input type="text" id="titrePost" class="form-control" name="titrePost" ngModel>
            </div>
            <div class="form-group">
                <label for="contenuPost">Contenu de l'article</label>
                <textarea id="contenuPost" class="form-control" name="contenuPost" rows=5 ngModel></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Enregistrer</button>
        </form>
    </div>
</div>