<div class="row">
    <div class="col-xs-12">
        <h2>Ils sont beaux mes articles !</h2>
        <ul class="list-group">
            <div [ngClass]="getListItemStyle(postIndex)" *ngFor="let post of posts; let postIndex=index">
                <div class="col-xs-12">
                    <h2 class="col-xs-10">{{ post.titrePost }}</h2>
                    <p class="col-xs-2 text-right">{{ post.datePost | date:'short'}}</p>
                </div>
                <div class="col-xs-12">{{ post.contenuPost }}</div>
                <button class="btn btn-success" (click)="addLove(postIndex)">Trop bien !</button>
                <button class="btn btn-danger" (click)="removeLove(postIndex)">Trop naze !</button>
                <button class="btn btn-danger" (click)="removePost(postIndex)">Supprimer l'article</button>
            </div>
        </ul>
    </div>
</div>